{% extends "PNapp/main.html" %}
{% load static %}

{% block content %}
    <section>
      <div class="container mainc">
        <div class="row">
        	<div class="col-md-5">

            <div class="panel panel-default personal-details">
              <div class="panel-heading">
                <h3 class="panel-title">My Advertisments</h3>
              </div>
              <div class="panel-body">
                <!-- Part to be repeated for every ad notification  -->
                <div class="row">

                  <div class="col-sm-2">
                    <a class="post-avatar thumbnail" href="/overview/{{action.creator.id}}">
                      <img src="{{action.creator.profile_photo.url}}" class="my-img-thumbnail">
                    </a>
                  </div>

                  <div class="col-sm-10">
                    <div class="my-notification">
                      <div class="message-bubble">
                        <div class="message-pointer">
                          <div class="row">
                            <div class="col-sm-12">
                              <!-- {% if action.get_classname == "Interest" %}
                                <p>{{action.creator.name}} {{action.creator.surname}} is interested in your post: "{{action.post}}".</p>
                              {% elif action.get_classname == "Comment" %}
                                <p>{{action.creator.name}} {{action.creator.surname}} commented on your post: "{{action.post_id}}" and wrote "{{action.text}}"</p>
                              {% else %}
                                  asd{{action.get_classname}}asd
                              {% endif %} -->
                              User blah blah (link to his prof) applied for your job ad "Junior Software Engineer"
                            </div>
                          </div>
                        </div>
                        <div class="pointer-border"></div>
                      </div><!-- bubble end -->
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="clearfix"></div>

                </div>
                <!-- End of the repeatition  -->
              </div>
            </div>

          </div>

          <!--- Submit new ad --->
          <div class="col-md-7">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Job Advertisments</h3>
              </div>
              <div class="panel-body">
                <form method="post">{% csrf_token %}
                  <input class="form-control" type="text" name="title" placeholder="Position's Title" required>
                  <div class="form-group"></div>
                  <textarea class="form-control" name="details" placeholder="Job's details like company, salary, requirements" required></textarea>
                  <div class="form-inline">
                    <input class="form-control skill" type="text" name="skill" placeholder="Add a skill">
                    <button type="button" class="btn btn-default skill-plus btn-inline add_skill"><i class="fa fa-plus"></i></button>
                  </div>
                  <div class="form-group"></div>

                  <button type="submit" value="" name="button" class="btn btn-default ad_submit">Submit</button>

                </form>
              </div>
            </div>

            <!-- Show Ads -->
            {% for ad in ads %}
              <div class="panel panel-default post">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-2">
                      <a class="post-avatar thumbnail" href="/overview/{{ad.creator.id}}">
                        <img src="{{ ad.creator.profile_photo.url }}" class="img-thumbnail">
                        <div class="text-center">{{ ad.creator.name }} {{ad.creator.surname }}</div>
                      </a>
                      <div class="likes text-center">{{ ad.creation_date }}</div>
                    </div>
                    <div class="col-sm-10">
                      <div class="job-bubble-title">
                        {{ad.title}}
                      </div>
                      <div class="job-bubble">
                        <p>{{ad.details}}</p>
                      </div>
                      <div class="job-bubble-skills">
                        {% if ad.skills.all %}
                          {% for skill in ad.skills.all %}
                            #{{ skill }} 
                          {% endfor %}
                        {% else %}
                          No special skills required for this job
                        {% endif %}
                      </div>

                      <p class="post-actions">
                        {% if ad.creator != user %}
                          <button type="submit" class="btn btn-success btn-block apply ad_apply" value="{{ad.id}}">
                            <i class="fa fa-check"></i>
                            Apply
                          </button>
                        {% endif %}
                      </p>

                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            {% empty %}
              No Job Advertisments available yet.
            {% endfor %}
          </div><!-- col-md-7 end -->

        </div>
      </div>
    </section>
{% endblock %}
