{% extends "PNapp/main.html" %}
{% load static %}

{% block content %}
    <section>
      <div class="container mainc">
        <div class="row">
        	<div class="col-md-5">

            <div class="panel panel-default personal-details">
              <div class="panel-heading">
                <h3 class="panel-title">My Advertisments</h3>
              </div>
              <div class="panel-body">
                <!-- Part to be repeated for every ad notification  -->
                {% for ad in user.get_user_ads %} <!--order_by({{ad.title}})-->
                  {% for applicant in ad.applicants.all %}
                    <div class="row">

                      <div class="col-sm-2">
                        <a class="post-avatar thumbnail" href="/overview/{{applicant.id}}">
                          <img src="{{applicant.profile_photo.url}}" class="my-img-thumbnail">
                        </a>
                      </div>

                      <div class="col-sm-10">
                        <div class="my-notification">
                          <div class="message-bubble">
                            <div class="message-pointer">
                              <div class="row">
                                <div class="col-sm-12">
                                  <a class="" href="/overview/{{ applicant.id }}">{{applicant.name}} {{applicant.surname}}</a> applied for your job ad "{{ad.title}}".
                                </div>
                              </div>
                            </div>
                            <div class="pointer-border"></div>
                          </div><!-- bubble end -->
                        </div>
                        <div class="clearfix"></div>
                      </div>

                      <div class="clearfix"></div>

                    </div>
                  {% endfor %}
                {% endfor %}
                <!-- End of the repeatition  -->
              </div>
            </div>

          </div>

          <!--- Submit new ad --->
          <div class="col-md-7">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Job Advertisments</h3>
              </div>
              <div class="panel-body">
                <form method="post">{% csrf_token %}
                  <input class="form-control" type="text" name="title" placeholder="Position's Title" required>
                  <div class="form-group"></div>
                  <textarea class="form-control" name="details" placeholder="Job's details like company, salary, requirements" required></textarea>
                  <div class="form-inline">
                    <input class="form-control skill" type="text" name="skill" placeholder="Add a skill">
                    <button type="button" class="btn btn-default skill-plus btn-inline add_skill"><i class="fa fa-plus"></i></button>
                  </div>
                  <div class="form-group"></div>

                  <button type="submit" value="" name="button" class="btn btn-default ad_submit">Submit</button>

                </form>
              </div>
            </div>

            <!-- Show Ads -->
            {% for ad in ads %}
              {% include "PNapp/ad.html" %}
            {% empty %}
              No Job Advertisments available yet.
            {% endfor %}
          </div><!-- col-md-7 end -->

        </div>
      </div>
    </section>
{% endblock %}
