{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professional Networking Website</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'PNapp/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'PNapp/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'PNapp/css/style.css' %}" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <a href="/index"><img src="{% static 'PNapp/img/logo.png' %}" class="logo"></a>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index/">Home Page</a></li>
            <li><a href="/network/">Network</a></li>
            <li><a href="/ads/">Ads</a></li>
            <li><a href="/messages/">Messages</a></li>
            <li><a href="/notifications/">Notifications</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/settings/">Settings</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="/search" method="get">
            <!---NO CSRF TOKEN HERE. THEY GET LEAKED WITH GET REQUESTS -->
  	        <div class="form-group">
  	          <input type="text" class="form-control" name="search_text" placeholder="Search">
  	        </div>
  	        <button type="submit" class="btn btn-default" name="button" value="search_button">Submit</button>
	        </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout/">Log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <section>
      <div class="container">
        <div class="row">
        	<div class="col-md-4">

            <div class="panel panel-default personal-details">
              <div class="panel-heading">
                <h3 class="panel-title">Personal Details</h3>
              </div>
              <div class="panel-body">
                <div><img src="{{ user.profile_photo.url }}" alt="User Profile Picture" class="personal-details-avatar"></div>
                <div>{{ user.name }} {{user.surname}}</div>
                <div>{{ user.email }}</div>
                <div>{{ user.university }}</div>
                <div>{{ user.degree_subject }}</div>
                <div>{{ user.company }}</div>
                <div>{{ user.position }}</div>
                <div>{{ user.phone }}</div>
                <div><button class="btn btn-default" onclick="location.href='/profile/'" type="button">Edit details</button></div>
                <!-- <div class="group-item">
                  <img src="img/group.png">
                  <h4><a href="#">Sample Group One</a></h4>
                  <p>This is a Dobble social network sample group</p>
                </div>
                <div class="clearfix"></div>
                <div class="group-item">
                  <img src="img/group.png">
                  <h4><a href="#">Sample Group One</a></h4>
                  <p>This is a Dobble social network sample group</p>
                </div>
                <div class="clearfix"></div>
                <div class="group-item">
                  <img src="img/group.png">
                  <h4><a href="#">Sample Group One</a></h4>
                  <p>This is a Dobble social network sample group</p>
                </div>
                <div class="clearfix"></div>
                <a class="btn btn-primary" href="#">View All Groups</a>-->
              </div>
            </div>

            <div class="panel panel-default friends">
              <div class="panel-heading">
                <h3 class="panel-title">My Friends</h3>
              </div>
              <div class="panel-body">
                <ul>
                  {% for friend in friends %}
                    <li><a class="comment-avatar" href="/overview/{{friend.id}}">
                      <img src={{friend.profile_photo.url}} class="overview-network-thumbnail"></a>
                  </li>
                  {% endfor %}
                </ul>
                <div class="clearfix"></div>
                <a class="btn btn-primary view-friends" href="#">View All Friends</a>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Wall</h3>
              </div>
              <div class="panel-body">
                <form method="post">{% csrf_token %}
                  <div class="form-group">
                    <textarea class="form-control" name="status" placeholder="Write on the wall"></textarea>
                  </div>

                  <button type="submit" value="Submit status" name="button" class="btn btn-default">Submit</button>
                  <div class="pull-right">
                    <div class="btn-group">
                    <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Text</button>
                    <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i> Image</button>
                    <button type="button" class="btn btn-default"> <i class="fa fa-file-video-o"></i> Video</button>
                  </div>
                  </div>
                </form>
              </div>
            </div>

            {% if posts %}
              {% for post in posts %}
                <div class="panel panel-default post">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-2">
                        <a class="post-avatar thumbnail" href="profile.html">
                          <img src="{{ post.creator.profile_photo.url }}" class="img-thumbnail">
                          <div class="text-center">{{ post.creator.name }} {{ post.creator.surname }}</div>
                        </a>
                        <div class="likes text-center">{{ post.creation_date }}</div>
                      </div><!-- col-sm-2 end -->
                      <div class="col-sm-10">
                        <div class="bubble">
                          <div class="pointer">
                            <p>{{ post.text }}</p>
                          </div>
                          <div class="pointer-border"></div>
                        </div><!-- bubble end -->
                        <p class="post-actions"><a href="#">Interest</a> - <a href="#">Comment</a> - 7 Interested</p>
                        <div class="comment-form">
                          <form class="form-inline" method="post">{% csrf_token %}
                            <div class="form-group" >
                              <input type="text" class="form-control" name="comment" placeholder="Enter Comment">
                            </div>
                            <button type="submit" value="{{post.id}}" name="comment-button" class="btn btn-default">Add</button>
                          </form>
                        </div><!-- comment form end -->
                        <div class="clearfix"></div>
                        {% if post.comment_set.all %}
                          {% for comment in post.comment_set.all %}
                          <div class="comments">
                            <div class="comment">
                              <a class="comment-avatar pull-left" href="#"><img src="{{ comment.creator.profile_photo.url }}"></a>
                              <div class="comment-text">
                                {{ comment.text }}
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div><!-- col-md-8 end -->


        </div>
      </div>

    </section>

    <footer>
      <div class="container">
        <p>Professional Networking Website &copy; 2018, All Rights Reserved</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
