{% extends "PNapp/main.html" %}
{% load static %}

{% block content %}
    <section>
      <div class="container mainc">
        <div class="row">
        	<div class="col-md-4">

            <div class="panel panel-default personal-details">
              <div class="panel-heading">
                <h3 class="panel-title">Personal Details</h3>
              </div>
              <div class="panel-body">
                <div><img src="{{ user.profile_photo.url }}" alt="User Profile Picture" class="personal-details-avatar"></div>
                <div><label>Name: </label>{{ user.name }} {{user.surname}}</div>
                <div><label>Email: </label>{{ user.email }}</div>
                {% if user.university %}
                  <div><label>Education: </label>{{ user.university }}</div>
                {% endif %}
                {% if user.degree_subject %}
                  <div><label>Subject: </label>{{ user.degree_subject }}</div>
                {% endif %}
                {% if user.company %}
                  <div><label>Company: </label>{{ user.company }}</div>
                {% endif %}
                {% if user.position %}
                  <div><label>Position: </label>{{ user.position }}</div>
                {% endif %}
                {% if user.phone %}
                  <div><label>Phone: </label>{{ user.phone }}</div>
                {% endif %}
                <div><button class="btn btn-default" onclick="location.href='/profile/'" type="button">Edit details</button></div>
              </div>
            </div>

            <div class="panel panel-default friends">
              <div class="panel-heading">
                <h3 class="panel-title">My Friends</h3>
              </div>
              <div class="panel-body">
                <ul>
                  {% for friend in friends %}
                    <li><a class="comment-avatar" href="/overview/{{friend.id}}">
                      <img src={{friend.profile_photo.url}} class="overview-network-thumbnail"></a>
                  </li>
                  {% endfor %}
                </ul>
                <div class="clearfix"></div>
                <a class="btn btn-default view-friends" href="/network">View All Friends</a>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Wall</h3>
              </div>
              <div class="panel-body">
                <form method="post">{% csrf_token %}
                  <textarea class="form-control form-group" name="status" placeholder="Write on the wall" required></textarea>

                  <button type="submit" value="Submit status" name="button" class="btn btn-default post_submit">Submit</button>
                  <div class="pull-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default" name="mybutton" value="Set Focus" OnClick="status.focus();"><i class="fa fa-pencil"></i> Text</button>
                      <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i> Image</button>
                      <button type="button" class="btn btn-default"> <i class="fa fa-file-video-o"></i> Video</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            {% if posts_list %}
              {% for post in posts_list %}
                {% include "PNapp/post.html" %}
              {% endfor %}
            {% endif %}
          </div><!-- col-md-8 end -->


        </div>
      </div>
    </section>
{% endblock %}
