
<script>
$('#interest').click(function(){
      $.ajax({
               type: "POST",
               url: "/interest",
               data: {'id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      alert(response.message);
                      alert('Company likes count is now ' + response.interest_count);
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    })
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
