{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professional Networking Website</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'PNapp/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'PNapp/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'PNapp/css/style.css' %}" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <!-- <img src="img/logo.png" class="logo">-->
        <h3>Professional Networking Website</h3>
      </div>
    </header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index/">Home Page</a></li>
            <li><a href="/network/">Network</a></li>
            <li><a href="groups.html">Ads</a></li>
            <li class="active"><a href="/messages/">Messages</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/settings/">Settings</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="/search" method="get">
            <!---NO CSRF TOKEN HERE. THEY GET LEAKED WITH GET REQUESTS -->
  	        <div class="form-group">
  	          <input type="text" class="form-control" name="search_text" placeholder="Search">
  	        </div>
  	        <button type="submit" class="btn btn-default" name="button" value="search_button">Submit</button>
	        </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout/">Log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <section>
      <div class="container">
        <div class="row">
        	<div class="col-md-4">

            <div class="panel panel-default messages-panel">
              <!-- <div class="panel-heading">
                <h3 class="panel-title">Personal Details</h3>
              </div> -->
              <div class="panel-body">
                <a href="/index/">
                  <div class="message">
                    <div class="text-center"><strong>Thanasis Filippidis</strong></div>
                    <div class="name-divider"></div>
                    <div class="message-text">
                      lorem ipsum
                    </div>
                  </div>
                </a>
                

                <div class="divider"></div>

                <div class="message">
                  <div class="text-center"><strong>Thanasis Filippidis</strong></div>
                  <div class="name-divider"></div>
                  <div class="message-text">
                    lorem ipsum
                  </div>
                </div>

                <div class="divider"></div>

                <div class="message">
                  <div class="text-center"><strong>Thanasis Filippidis</strong></div>
                  <div class="name-divider"></div>
                  <div class="message-text">
                    lorem ipsum
                  </div>
                </div>

                <div class="divider"></div>
                
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="panel panel-default conversation">
              <div class="panel-message-heading">
                <h3 class="panel-title">Thanasis Filippidis</h3>
              </div>
              <div class="panel-body conv-order">


                <div class="row">

                  <div class="col-sm-2">
                    <a class="post-avatar thumbnail" href="profile.html">
                      <img src="{{ post.creator.profile_photo.url }}" class="img-thumbnail">
                    </a>
                  </div><!-- col-sm-2 end -->

                  <div class="col-sm-10">
                    <div class="message-bubble-left">
                      <div class="message-pointer">
                        <p>Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?Hey bro how are you?</p>
                      </div>
                      <div class="pointer-border"></div>
                    </div><!-- bubble end -->
                    <div class="clearfix"></div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-10">
                    <div class="message-bubble-right">
                      <div class="message-pointer">
                        <p>All good man how nout ya?</p>
                      </div>
                      <div class="pointer-border"></div>
                    </div><!-- bubble end -->
                    <div class="clearfix"></div>
                  </div>

                  <div class="col-sm-2">
                    <a class="post-avatar thumbnail" href="profile.html">
                      <img src="{{ post.creator.profile_photo.url }}" class="img-thumbnail">
                      <!-- <div class="text-center">{{ post.creator.name }} {{ post.creator.surname }}</div> -->
                    </a>
                    <!-- <div class="likes text-center">{{ post.creation_date }}</div> -->
                  </div><!-- col-sm-2 end -->

                </div>

                <div class="message-form">
                  <form class="form-inline" method="post">{% csrf_token %}
                    <div class="form-group" >
                      <input type="text" class="form-control" name="message" placeholder="Write a message...">
                    </div>
                    <button type="submit" value="" name="comment-button" class="glyphicon glyphicon-send"></button>
                  </form>
                </div><!-- message form end -->
              </div>
            </div>
          </div><!-- col-md-8 end -->
        </div>
      </div>

    </section>

    <footer>
      <div class="container">
        <p>Professional Networking Website &copy; 2018, All Rights Reserved</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
