{% extends "PNapp/main.html" %}
{% load static %}

{% block content %}
      
    <section>
      <div class="container mainc">
        <div class="row">
        	<div class="col-md-4">

            <div class="panel panel-default messages-panel">
              <!-- <div class="panel-heading">
                <h3 class="panel-title">Personal Details</h3>
              </div> -->
                {% for convo in conversations %}
                  <div class="panel-body">
                    <a href="{{convo.id}}">
                      <div class="message">
                        <div class="text-center"><strong>
                            {% if user == convo.receiver %}
                              {{convo.creator.name}} {{convo.creator.surname}}
                            {% else %}
                              {{convo.receiver.name}} {{convo.receiver.surname}}
                            {% endif %}
                        </strong></div>
                        <!-- <div class="name-divider"></div> -->
                      </div>
                    </a>
                    <div class="divider"></div>
                  </div>
                  {% endfor %}
            </div>
          </div>

          <div class="col-md-8">
            <div class="panel panel-default conversation">
              <div class="panel-message-heading">
                <h3 class="panel-title">
                  {% if user == target_conversation.receiver %}
                    {{target_conversation.creator.name}} {{target_conversation.creator.surname}}
                  {% else %}
                    {{target_conversation.receiver.name}} {{target_conversation.receiver.surname}}
                  {% endif %}
                </h3>
              </div>
              <div class="panel-body conv-order">

              {% for message in messages %}
                {% if message.creator == user %}
                  <div class="row">
                    <div class="col-sm-10">
                      <div class="message-bubble-right">
                        <div class="message-pointer">
                          <p>{{message.text}}</p>
                        </div>
                        <div class="pointer-border"></div>
                      </div><!-- bubble end -->
                      <div class="clearfix"></div>
                    </div>

                    <div class="col-sm-2">
                      <a class="post-avatar thumbnail" href="/overview/{{message.creator.id}}">
                        <img src="{{ message.creator.profile_photo.url }}" class="my-img-thumbnail">
                      </a>
                    </div>

                    <div class="clearfix"></div>

                  </div>
                {% else %}
                  <div class="row">

                    <div class="col-sm-2">
                      <a class="post-avatar thumbnail" href="/overview/{{message.creator.id}}">
                        <img src="{{ message.creator.profile_photo.url }}" class="my-img-thumbnail">
                      </a>
                    </div>

                    <div class="col-sm-10">
                      <div class="message-bubble-left">
                        <div class="message-pointer">
                          <p>{{message.text}}</p>
                        </div>
                      <div class="pointer-border"></div>
                    </div><!-- bubble end -->

                    <div class="clearfix"></div>

                    </div>
                  </div>
                {% endif %}
              {% endfor %}
                <div class="message-form">
                  <form class="form-inline" method="post" action="/messages/{{target_conversation.id}}">{% csrf_token %}
                    <div class="form-group" >
                      <input type="text" class="form-control" name="message" placeholder="Write a message...">
                    </div>
                    <button type="submit" value="" name="new-mess" class="glyphicon glyphicon-send"></button>
                  </form>
                </div><!-- message form end -->
              </div>
            </div>
          </div><!-- col-md-8 end -->
        </div>
      </div>

    </section>
{% endblock %}
