{% extends "PNapp/main.html" %}
{% load static %}

{% block content %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default friends">
              <div class="panel-heading">
                <h3 class="panel-title">My Network</h3>
              </div>
              <div class="panel-body">
                <ul>
                  {% for friend in friends%}
                    <li><a class="network-avatar" href="/overview/{{friend.id}}">
                        <img src={{friend.profile_photo.url}} class="network-thumbnail"></a>
                        <div><h>{{friend.name}} {{friend.surname}}</h></div>
                    </li>
                  {% endfor %}
                </ul>
                <div class="clearfix"></div>
                <!-- <a class="btn btn-primary" href="#">View All Friends</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
{% endblock %}
