{% extends "PNapp/main.html" %}
{% load static %}

{% block content %}
    <section>
      <div class="container mainc">
        <div class="row">
          {% if connected_users %}
            <div class="col-md-6">
              <div class="panel panel-default personal-details">
                <div class="panel-heading">
                  <h3 class="panel-title">Personal Details</h3>
                </div>
                <div class="panel-body">
                  <div><img src="{{ target_user.profile_photo.url }}" alt="User Profile Picture" class="overview-prof-pic"></div>
                  <div><strong>Name: </strong>{{ target_user.name }} {{target_user.surname}}</div>
                  {% if target_user.email_public %}
                    <div><strong>Email: </strong>{{ target_user.email }}</div>
                  {% endif %}
                  {% if target_user.university_public %}
                    <div><strong>Education: </strong>{{ target_user.university }}</div>
                  {% endif %}
                  {% if target_user.degree_subject_public %}
                    <div><strong>Degree's Subject: </strong>{{ target_user.degree_subject }}</div>
                  {% endif %}
                  {% if target_user.company_public %}
                    <div><strong>Current Company: </strong>{{ target_user.company }}</div>
                  {% endif %}
                  {% if target_user.position_public %}
                    <div><strong>Current Position: </strong>{{ target_user.position }}</div>
                  {% endif %}
                  {% if target_user.phone_public %}
                    <div><strong>Phone Number: </strong>{{ target_user.phone }}</div>
                  {% endif %}
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <form method="post" action="/messages/">{% csrf_token %}
                      <button type="submit" value="{{target_user.id}}" class="btn btn-default btn-block" name="send message"><i class="fa fa-envelope"></i> Send Message</button>
                    </form>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div><!-- col-md-6 end -->

            <div class="col-md-6">
              <div class="panel panel-default friends">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ target_user.name }} {{target_user.surname}}'s Network</h3>
                </div>
                <div class="panel-body">
                  <ul>
                    {% for friend in friends%}
                      <li><a class="comment-avatar" href="/overview/{{friend.id}}">
                            <img src={{friend.profile_photo.url}} class="overview-network-thumbnail">
                          </a>
                          <div>{{friend.name}}</div>
                          <div>{{friend.surname}}</div>
                      </li>
                    {% endfor %}
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div><!-- col-md-6 end -->
          {% else %}<!-- end of the section of connected users  -->
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="panel panel-default personal-details">
                <div class="panel-heading">
                  <h3 class="panel-title">Personal Details</h3>
                </div>
                <div class="panel-body">
                  <div><img src="{{ target_user.profile_photo.url }}" alt="User Profile Picture" class="overview-prof-pic"></div>
                  <div><strong>Name: </strong>{{ target_user.name }} {{target_user.surname}}</div>
                  {% if target_user.email_public %}
                    <div><strong>Email: </strong>{{ target_user.email }}</div>
                  {% endif %}
                  {% if target_user.university_public %}
                    <div><strong>Education: </strong>{{ target_user.university }}</div>
                  {% endif %}
                  {% if target_user.degree_subject_public %}
                    <div><strong>Degree's Subject: </strong>{{ target_user.degree_subject }}</div>
                  {% endif %}
                  {% if target_user.company_public %}
                    <div><strong>Current Company: </strong>{{ target_user.company }}</div>
                  {% endif %}
                  {% if target_user.position_public %}
                    <div><strong>Current Position: </strong>{{ target_user.position }}</div>
                  {% endif %}
                  {% if target_user.phone_public %}
                    <div><strong>Phone Number: </strong>{{ target_user.phone }}</div>
                  {% endif %}
                  <div class="col-md-5">
                    {% if user != target_user %}
                      <form method="post">{% csrf_token %}
                        {% if request_exists %}
                          <button type="button" class="btn btn-primary disabled btn-block" ><i class="fa fa-users"></i> Request Pending</button>
                        {% else %}
                          <button type="submit" value="{{target_user.id}}" class="btn btn-success btn-block" name="add user"><i class="fa fa-users"></i> Add Friend</button>
                        {% endif %}
                      </form>
                    {% endif %}
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-5">
                    {% if user != target_user %}
                      <form method="post" action="/messages/">{% csrf_token %}
                        <button type="submit" value="{{target_user.id}}" class="btn btn-default btn-block" name="send message"><i class="fa fa-envelope"></i> Send Message</button>
                      </form>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div><!-- col-md-6 end -->
            <div class="col-md-3"></div>
          {% endif %}<!-- end of the section of not connected users -->
        </div>
      </div>
    </section>
{% endblock %}
