    <div class="panel panel-default post">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            <a class="post-avatar thumbnail" href="/overview/{{ post.creator.id }}">
              <img src="{{ post.creator.profile_photo.url }}" class="img-thumbnail">
              <div class="text-center">{{ post.creator.name }} {{ post.creator.surname }}</div>
            </a>
            <div class="likes text-center">{{ post.creation_date }}</div>
          </div><!-- col-sm-2 end -->
          <div class="col-sm-10">
            <div class="bubble">
              <div class="pointer">
                <p>{{ post.text }}</p>
              </div>
              <div class="pointer-border"></div>
            </div><!-- bubble end -->
            {% if user in post.users_interested %}
              {% if post.total_interests > 1 %}
                You and {{post.total_interests|add:"-1"}} other are interested.
              {% else %}
                You are interested in this.
              {% endif %}
            {% else %}
              <p class="post-actions post_interested" id="interest{{post.id}}"  data-postid="{{post.id}}">
                <input type="submit" class="btn btn-default" value="Interest: {{post.total_interests}}"/>
              </p>
            {% endif %}

            <div class="comment-form">
              <form class="form-inline" method="post">{% csrf_token %}
                <div class="form-group" >
                  <input type="text" class="form-control" name="comment" placeholder="Enter Comment" required>
                </div>
                <button type="submit" value="{{post.id}}" name="comment-button" class="btn btn-default">Add</button>
              </form>
            </div><!-- comment form end -->

            <div class="clearfix"></div>
            {% if post.comment_set.all %}
              {% for comment in post.comment_set.all %}
              <div class="comments">
                <div class="comment">
                  <a class="comment-avatar pull-left" href="/overview/{{comment.creator.id}}"><img src="{{ comment.creator.profile_photo.url }}"></a>
                  <div class="comment-text">
                    {{ comment.text }}
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
