{% extends "PNapp/main.html" %}
{% load static %}

{% block content %}
    <section>
      <div class="container mainc">
        <div class="row">
          <div class="col-md-12">
           <div class="members">
             {% if messages %}
             <ul class="messages">
                 {% for message in messages %}
                 <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                 {% endfor %}
             </ul>
             {% endif %}
            <h1 class="page-header">PNsite Users</h1>
            {% for user in users%}
              <div class="row member-row">
                <div class="col-md-3">
                  <img src="{{user.profile_photo.url}}" class="img-thumbnail">
                  <div class="search-name"><h3>{{user.name}} {{user.surname}}</h3></div>
                </div>
                <div class="col-md-3">
                  <!-- <form method="post">{% csrf_token %}
                    <button type="submit" value="{{user.id}}" class="btn btn-success btn-block" name="add user"><i class="fa fa-users"></i> Add Friend</a>
                  </form> -->
                </div>
                <div class="col-md-3">
                  <!-- <p><form method="post" action="/messages/">{% csrf_token %}
                    <button type="submit" value="{{user.id}}" class="btn btn-default btn-block" name="send message"><i class="fa fa-envelope"></i> Send Message</button>
                  </form></p> -->
                  <!-- <button class="btn btn-primary btn-block" onclick="location.href='/overview/{{user.id}}'" type="button"><i class="fa fa-edit"></i> View Profile</button> -->
                  <div class="search-action-buttons">
                    <form method="post" action="/messages/">{% csrf_token %}
                      <button type="submit" value="{{user.id}}" class="btn btn-default btn-block" name="send message"><i class="fa fa-envelope"></i> Send Message</button>
                    </form>
                  </div>

                </div>
                <div class="col-md-3">
                  <!-- <p><a href="/overview/{{user.id}}" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p> -->
                  <!-- <p><button class="btn btn-primary btn-block" onclick="location.href='/overview/{{user.id}}'" type="button"><i class="fa fa-edit"></i> View Profile</button></p> -->
                  <div class="search-action-buttons">
                    <button class="btn btn-primary btn-block" onclick="location.href='/overview/{{user.id}}'" type="button"><i class="fa fa-edit"></i> View Profile</button>
                  </div>

                </div>
              </div>
            {% endfor %}
           </div>
          </div><!-- col-md-12 end -->
        </div>
      </div>

    </section>
{% endblock %}
