{% extends "PNapp/main.html" %}
{% load static %}

{% block content %}
    <section>
      <div class="container">
        <div class="row">
          <form class="form-horizontal" method="post">{% csrf_token %}
            <div class="col-md-8">
              <div class="profile">
                <h1 class="page-header">{{ user.name }} {{ user.surname }}</h1>
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{ user.profile_photo.url }}" class="img-thumbnail">
                  </div>
                  <div class="col-md-8">

                    <div class="form-group">
                      <label class="col-lg-4 control-label">Email:</label>
                      <div class="col-lg-8">
                        <input type="email" name="email" value="{{ user.email }}" required>
                        <div><input type="checkbox" name="email_privacy" {% if user.email_public %}checked{% endif %}> Show email in public.</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-4 control-label">Password:</label>
                      <div class="col-lg-8">
                        <input type="password" name="password" value="{{ user.password }}" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-4 control-label">Confirm Password:</label>
                      <div class="col-lg-8">
                        <input type="password" name="cpassword" value="{{ user.password }}" required>
                      </div>
                    </div>

                    {% if messages %}
                    <div class="messages">
                      <ul>
                        {% for message in messages %}
                          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                    <div class="form-group">
                      <label class="col-md-4 control-label"></label>
                      <div class="col-md-8">
                        <input class="btn btn-primary" value="Save Changes" type="submit" name="button">
                        <span></span>
                        <input class="btn btn-default" value="Cancel" type="reset">
                      </div>
                    </div>
                  </div>
                </form>
              </div><!-- row's end -->
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>

    </section>
{% endblock %}
