{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professional Networking Website</title>
    <!-- Bootstrap core CSS -->
    <link href= "{% static 'PNapp/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'PNapp/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'PNapp/css/style.css' %}" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <img src="{% static 'PNapp/img/logo.png' %}" class="logo">
        <!-- <h3>Professional Networking Website</h3> -->
        <form class="form-inline" method="post">{% csrf_token %}
          <div class="form-group">
            <label class="sr-only" for="logInEmail">Email address</label>
            <input type="email" name ="email" class="form-control" id="logInEmail" placeholder="Enter email" autofocus>
          </div>
          <div class="form-group">
            <label class="sr-only" for="LogInPassword">Password</label>
            <input type="password" name="password" class="form-control" id="LogInPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default" name="button" value="Login">Sign in</button><br>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </form>
      </div>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <nav class="navbar navbar-default">
    </nav>

    <section>
      <div class="container">
        <div class="row">
        	<div class="col-md-8">
            <div class="welcomePhoto"><img src="{% static 'PNapp/img/welcome.png' %}"></div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Sign up</h3>
              </div>
              <div class="panel-body">
                <form class="form" method="post">{% csrf_token %}

                  <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Your Name</label>
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name" required/>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="surname" class="cols-sm-2 control-label">Your Surname</label>
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="surname" id="surname"  placeholder="Enter your Surname" required/>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email" required/>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" required/>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password" required/>
                      </div>
                    </div>
                  </div>

                  <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button" name="button" value="Register">Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div><!-- col-md-8 end -->


        </div>
      </div>

    </section>

    <footer>
      <div class="container">
        <p>Professional Networking Website &copy; 2018, All Rights Reserved</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'PNapp/js/bootstrap.js' %}"></script>
  </body>
</html>
